/* .allPostsContainer{
    display: flex;
} */

.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
    /* float: left;
    width: 50%;
    padding: 10px; */
    /* display: flex; */
    /* flex: 50%; */
    /* padding: 10px; */
    /* flex-wrap: nowrap; */
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    font-family: 'FontAwesome';
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
    .post-desc {
        /* display: none !important; */
        overflow: hidden; 
        /* text-indent: -9999px; */
        /* text-overflow: ellipsis; */
    }
}

.allPostsContainer {
    height: 100%;
    width: 100%;
    

}

/* .allPostsContainer:after{
    content: "";
    display: table;
    clear: both;
} */

.bodyB {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    /* color: #fff; */
    background-color: orange;
    background-size: 2000% 2000%;
    font-family:'FontAwesome';
}

.blank{
    width: 100%;
}

.lineSpace{
    float: right;
    color: #000;
    top: 5px;
}

.modal-body{
    /* width: 50%; */
    /* text-align: center; */

}

.modalContent{
    text-align: center;
    font-weight: bolder;
}

#btnYes{
    width: 40%;
    left: 10px;
    right: 30px;
    height: 40px;
    background-color: red;
    color: #fff;
}

#btnNo{
    width: 40%;
    right: 10px;
    float: right;
    height: 40px;
    background-color: green;
    color: #fff;
}

.modal-dialog{
    top: 40%;
    width: 10px;
    /* -webkit-border-radius: 0; border-radius: 0; */
    /* bottom: 50%; */

}

/* #dots{
    display: inline-block;
    /* width: 200px; */
    /* white-space: nowrap; */
    /* overflow:  hidden !important;
    text-overflow: ellipsis; */
/* } */ 

.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    /* display: inline-block; */
    float: right;
    padding: 1px;
    /* bottom: 10px; */
    margin-right: 5px;
    margin-bottom: 5px;
  }