/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */


#mainText{
    font-family: 'Satisfy', cursive;
font-size: 50px;
color: #112fb4;
margin: auto;
text-decoration: none;
margin: 10px 10px 0px 10px;
}

#middleText{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
}
.class1{
    float: left;
}

.class2{
    float: right !important;
    /* margin: 10px 10px 0px 0px; */
    /* width: 90px; */
    padding: 10px; 
    cursor: pointer;
    font-weight: bolder;
    font-size: 90%;
    /* background-color: #112fb4; */
    /* color: aliceblue; */
}

.b1{
    background-color: blue;
    color: aliceblue;
    /* width: 90%; */
    height: 40px;
    width: 80px;

}

#headModal{
    font-weight: bold;
    text-align: center;
 }
 
 
 .up{
    font-weight: bold;
 
 }
 
 .blank{
    width: 100%;
    background-color: gainsboro;
    height: 40px;
    margin-top: 0%;
 }
 
 .blankText{
    height: 100px; 
    width: 100%;
    background-color: gainsboro;
    /* height: 40px; */
    margin-top: 0%;
 }
 
 
 #sInB{
    width: 100%;
    height: 40px;
    background-color: green;
    font-weight: bold;
    color: whitesmoke;
 }
 
 .modalFoot{
    text-align: center;
    font-weight: bold;
 }
 
 #sign{
    font-weight: bold;
 }


/* .centerC{
    position: absolute;
    top: 50%;
} */